#hero {
  margin-top: 150px;
  margin-bottom: 150px;
}

.hero-img {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 300px;
  margin-left: 100px;
}

.span-1 {
  font-size: 1.75rem;
  font-weight: 500;
}

.span-2 {
  font-size: 2rem;
  font-weight: 600;
}

.span-3 {
  font-size: 2.5rem;
  color: #6c3428;
  text-shadow: 3px 4px 4px #f0de36;
  font-weight: 600;
}

.span-4 {
  font-size: 2rem;
  font-weight: 500;
}

.span-5 {
  font-size: 2.5rem;
  color: #6c3428;
  font-weight: 600;
}

.welcome-para {
  line-height: 50px;
}

.welcome {
  align-content: center;
}

.intro-para {
  font-style: italic;
  font-size: 1.3rem;
  align-content: center;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 30px;
}

.icon-container {
  margin-left: 110px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.icon-container a {
  color: #6c3428;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #6c3428;
  border-radius: 50%;
}

.cv-button {
  width: 200px;
  height: 40px;
  background-color: #6c3428;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  border-color: #6c3428;
  box-shadow: 2px 6px 8px #70483f;
  font-weight: 600;
  margin-left: 702px;
}

.cv-button:hover {
  box-shadow: none;
}
