body {
  background: linear-gradient(to right, #dcd9d7, #ddb592, #deac80);
  background-repeat: no-repeat;
  width: 100%;
}

.index-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #dcd9d7, #ddb592, #deac80);
  box-shadow: -4px 4px 13px #6c3428;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #3e001f;
  z-index: 1000;
}

.index-div {
  display: flex;
  align-items: center;
}

.index-div img {
  width: 50px;
  height: 50px;
  border: 1px solid brown;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}

.index-div p {
  color: #6b3503;
  margin: 0;
  font-size: 2rem;
  text-shadow: 4px 3px 4px gold;
}

.index-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.index-nav li {
  margin: 0 15px;
}

.index-nav li a {
  color: #3d0d14;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 20px;
}

.index-nav li a:hover {
  text-shadow: 1px 1px 1px brown;
}

/* #burger {
  color: brown;
  font-size: 1.2rem;
  cursor: pointer;
  display: block !important;
}

.menu-panel {
  background-color: burlywood;
  color: white;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.5s ease-in-out;
}

.menu-panel ul {
  list-style: none;
  padding: 50px 20px;
}

.menu-panel ul li {
  margin-bottom: 16px;
}

.menu-panel ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.close-btn {
  background-color: transparent;
  color: red;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

@media screen and (max-width: 768px) {
  #burger {
    display: block;
  }
  .index-nav > ul {
    display: none;
  }
  .menu-panel.active {
    right: 0;
  }
} */
