#projects {
  margin-bottom: 250px;
}

.project-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.project {
  margin: 50px;
  position: relative;
  width: 400px;
  height: 350px;
  align-items: center;
  background-color: #3f241e;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #925a4e;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.project:hover {
  box-shadow: none;
}

.project img {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}

.project-name {
  font-size: 1.2rem;
}

.project span a {
  text-decoration: none;
  color: white;
}

button {
  width: 100px;
  height: 30px;
  background-color: gold;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 12px;
  font-weight: 600;
  transition: transform 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.see-all {
  width: 250px;
  height: 50px;
  border-radius: 15px;
  background-color: #742b1b;
  color: white;
  font-size: 1.3rem;
  box-shadow: 2px 4px 4px #3f241e;
  position: absolute;
  left: 40%;
  cursor: pointer;
}

.see-all:hover {
  box-shadow: none;
}
