#skills {
  margin-bottom: 350px;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.skill {
  width: 140px;
  height: 140px;
  background-color: #3f241e;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #925a4e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.skill img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.skill-name {
  font-size: 1.2rem;
}
